/* FIGMA 1280 design (default) */
.header__lang-link {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;

    text-decoration-line: none;
    transition: opacity 0.2s ease-in;
}

.header__lang-link:hover {
    opacity: 0.8;
}

/* FIGMA 1024 design */
@media screen and (max-width: 1279px) {}

/* FIGMA 768 design */
@media screen and (max-width: 1023px) {}

/* FIGMA 320 design (up to 425px) */
@media screen and (max-width: 425px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}