/* FIGMA 1280 design (default) */
.place__title {
    font-style: normal;
    font-weight: 900;

    font-size: 72px;
    line-height: 76px;

    margin: 0;
}

/* FIGMA 1024 design */
@media screen and (max-width: 1279px) {}

/* FIGMA 768 design */
@media screen and (max-width: 1023px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}

/* FIGMA 320 design (up to 425px) */
@media screen and (max-width: 425px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        margin-left: 16px;
        margin-right: 16px;
    }
}