/* FIGMA 1280 design (default) */
.places {
    margin: 92px auto 0;
    max-width: calc(21.875% + 704px);

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FIGMA 1024 design */
@media screen and (max-width: 1279px) {
    .places {
        /* -//-
        */
    }
}

/* FIGMA 768 design */
@media screen and (max-width: 1023px) {
    .places {
        margin: 88px auto 0;
        max-width: calc(81.25% + 96px);
    }
}

/* FIGMA 320 design (up to 425px) */
@media screen and (max-width: 425px) {
    .places {
        margin: 64px auto 0;
    }
}