/* FIGMA 1280 design (default) */
.lead {
    margin: 56px auto 0;
    max-width: calc(100% - 148px * 2);

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FIGMA 1024 design */
@media screen and (max-width: 1279px) {
    .lead {
        margin: 48px auto 0;
        max-width: calc(100% - 48px * 2);
    }
}

/* FIGMA 768 design */
@media screen and (max-width: 1023px) {
    .lead {
        margin: 48px auto 0;
        max-width: 100%;
    }
}

/* FIGMA 320 design (up to 425px) */
@media screen and (max-width: 425px) {}