/* FIGMA 1280 design (default) */
.footer__link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    color: #FFFFFF;
    text-decoration: none;
    margin: 0;
}

.footer__link:hover {
    opacity: 0.8;
}

/* FIGMA 1024 design */
@media screen and (max-width: 1279px) {}

/* FIGMA 768 design */
@media screen and (max-width: 1023px) {}

/* ONLY FOR FOOTER Breakpoint */
@media screen and (max-width: 767px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }
}

/* FIGMA 320 design (up to 425px) */
@media screen and (max-width: 425px) {}