/* FIGMA 1280 design (default) */
.place__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;

    color: #FFFFFF;

    margin: 0;
}

.place__paragraph:not(:first-of-type) {
    margin-top: 27px;
}


/* FIGMA 1024 design */
@media screen and (max-width: 1279px) {}

/* FIGMA 768 design */
@media screen and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
    }

    .place__paragraph:not(:first-of-type) {
        margin-top: 25px;
    }
}

/* FIGMA 320 design (up to 425px) */
@media screen and (max-width: 425px) {
    .place__paragraph {
        margin-left: 16px;
        margin-right: 16px;
    }
}