/* FIGMA 1280 design (default) */
.lead__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;

    margin: 32px auto 0;
    max-width: 640px;
}

/* FIGMA 1024 design */
@media screen and (max-width: 1279px) {
    .lead__subtitle {}
}

/* FIGMA 768 design */
@media screen and (max-width: 1023px) {
    .lead__subtitle {
        font-size: calc(6px + 3.125vw);
        line-height: calc(8.57px + 3.57vw);
    }
}

/* FIGMA 320 design (up to 425px) */
@media screen and (max-width: 425px) {
    .lead__subtitle {
        margin: 16px 16px 0;
        max-width: 100%;
    }
}