.cover {
    margin: 92px 48px 0;
    max-width: 2048px;
    align-self: stretch;

    background-image: url('../../images/cover-trains.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}