/* FIGMA 1280 design (default) */
.cover {
    margin: 92px 48px 0;
    max-width: 2048px;
    align-self: stretch;

    background-image: url('../../images/cover-trains.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* FIGMA 1024 design */
@media screen and (max-width: 1279px) {
    .cover {
        margin: 92px 0 0;
    }
}

/* FIGMA 768 design */
@media screen and (max-width: 1023px) {
    .cover {
        margin: 90px 0 0;
    }
}

/* FIGMA 320 design (up to 425px) */
@media screen and (max-width: 425px) {
    .cover {
        margin: 66px 0 0;
    }
}