/* FIGMA 1280 design (default) */
.footer__nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}


/* FIGMA 1024 design */
@media screen and (max-width: 1279px) {}

/* FIGMA 768 design */
@media screen and (max-width: 1023px) {}

/* ONLY FOR FOOTER Breakpoint */
@media screen and (max-width: 767px) {
    .footer__nav {
        flex-direction: column;
    }
}

/* FIGMA 320 design (up to 425px) */
@media screen and (max-width: 425px) {}