/* FIGMA 1280 design (default) */
.lead__caption {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;

    letter-spacing: 1.5px;
    text-transform: uppercase;
    align-self: flex-start;
    margin: 8px 0 0;
}

/* FIGMA 1024 design */
@media screen and (max-width: 1279px) {}

/* FIGMA 768 design */
@media screen and (max-width: 1023px) {
    .lead__caption {
        margin: 8px auto 0 24px;
    }
}

/* FIGMA 320 design (up to 425px) */
@media screen and (max-width: 425px) {
    .lead__caption {
        margin: 8px auto 0 16px;
    }
}