/* FIGMA 1280 design (default) */

.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */

    color: #FFFFFF;
    z-index: 1;

    text-align: center;
    margin: 0;

    /* max-width: 560px; */
    max-width: 70%;

}

/* FIGMA 1024 design */
@media screen and (max-width: 1279px) {}


/* FIGMA 768 design */
@media screen and (max-width: 1023px) {
    .cover__title {
        font-size: calc(3.43px + 8.93vw);
        line-height: calc(5.714px + 9.152vw);
    }
}

/* FIGMA 320 design (up to 425px) */
@media screen and (max-width: 425px) {}