/* FIGMA 1280 design (default) */

.footer__links-list-item {
    margin: 0;
}

.footer__links-list-item:not(:first-of-type) {
    margin-left: 18px;
}

/* FIGMA 1024 design */
@media screen and (max-width: 1279px) {}

/* FIGMA 768 design */
@media screen and (max-width: 1023px) {}

/* FIGMA 320 design (up to 425px) */
@media screen and (max-width: 425px) {
    .footer__links-list-item:not(:first-of-type) {
        margin-top: 32px;
        margin-left: 0;
    }
}